.octodex {
  display: flex;
  justify-content: space-evenly;
  align-items: center baseline;
  margin-top: 20px;
}

.octocat img {
  display: flex;
  flex-direction: row;
}

li > a > img {
  display: flex;
  flex-direction: row;
  border: 1px grey solid;
}

img {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 250px;
}

.image-caption {
  display: flex;
  flex-direction: row;
  justify-content: baseline center space-between;
  background: yellow;
}

.image-caption a {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.image-footer {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: orange;
}

.authors img {
  border-style: none;
  height: 30px;
  width: 30px;
  padding-right: 2px;
}

.authors li {
  display: flex;
  flex-direction: row;
}

span {
  align-self: auto;
  padding: 4px;
}
